a:link {
  color: #00635D;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #848C8C;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #3CBDB5;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #00635D;
  background-color: transparent;
  text-decoration: underline;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: regular;
  font-style: normal;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 100%;
  max-width: 893px;
  font-size: 18px;
  font-weight: normal;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 50px;
  padding-block: 15px;
  position: relative;
}

.description::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: calc(100% - 15px);
  height: 2px;
  margin-bottom: 20px;
  background-image: repeating-linear-gradient(90deg, #000000, #000000 12px, transparent 12px, transparent 16px), repeating-linear-gradient(90deg, #000000, #000000 12px, transparent 12px, transparent 16px);
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: 100% 2px, 100% 2px;
}

.description::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: calc(100% - 15px);
  height: 2px;
  margin-bottom: 20px;
  background-image: repeating-linear-gradient(90deg, #000000, #000000 12px, transparent 12px, transparent 16px), repeating-linear-gradient(90deg, #000000, #000000 12px, transparent 12px, transparent 16px);
  background-position: left top, left bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: 100% 2px, 100% 2px;
}

.widgets-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-inline: auto;
}

.widgets-left,
.widgets-right,
.widget-center {
  flex: 0 0 320px;
}

.widgets-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
